:css
  a .buttons {
    display:none;
  }
  a.jstree-hovered .buttons {
    display:inline;
  }
  .jstree ul {
    background: white;
  }
  .jstree a {
    width: 500px;
    padding: 2px;
  }
#wf-workspace
  %h3#wf-title.pane
    Revision 12345
  #tree-pane

